<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fragmentos de Categorías</title>
</head>
<body>

	<div th:fragment="lista_categorias">
		<h1>Lista de Categorías</h1>
		<table
			class="table table-bordered table-stripped table-hover mt-3 mb-3">
			<thead class="table-dark">
				<tr>
					<th class="text-center">NOMBRE</th>
					<th class="text-center">ACCIONES</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="categoria : ${listaCategorias}">
					<td th:text="${categoria.nombre}" class="align-middle">...</td>
					<td><a
						th:href="@{'/productos/categoria' + '/' + ${categoria.id}}"
						class="btn btn-primary">Mostrar productos</a> <a
						th:href="@{'/categorias/modificar' + '/' + ${categoria.id}}"
						class="btn btn-success">Modificar</a> <a
						th:href="@{'/categorias/eliminar' + '/' + ${categoria.id}}"
						class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/categorias/nueva}"><button class="btn btn-primary">Agregar
				nueva</button></a>
	</div>

	<div th:fragment="formulario_categoria">
		<h1 th:if="${categoria.id == null}">Nueva Categoría</h1>
		<h1 th:unless="${categoria.id == null}">Modificar Categoría</h1>
		<div class="card card-body">
			<form th:action="@{/categorias/guardar}" th:object="${categoria}"
				method="post">
				<div class="row mb-3">

					<div class="col-sm-10">
						<input type="hidden" th:field="*{id}" class="form-control"
							id="inputId">
					</div>
				</div>
				<div class="row mb-3">
					<label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{nombre}" class="form-control"
							id="inputNombre">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</form>
		</div>
	</div>

	<div th:fragment="error_categoria">
		<h1>La Categoría ya existe</h1>
	</div>

</body>
</html>